@oc-magenta         :    #0060A0;
@oc-grey            :    rgb(241,242,245);
@oc-background-color:    rgb(241,242,245);
@oc-white           :    rgb(254,254,250);
@oc-meta-grey       :    rgb(153,153,153);
@oc-dark-gray       :    rgb(142,144,144);
@oc-dark-grey       :    rgb(63,63,63);
@oc-hover-black     :    #191115;

.white {
  color: @oc-white;
}

.pink {
  color: @oc-magenta !important;
}

.gray {
  color: #999 !important;
}
